{
  "client_id": "http://127.0.0.1:3000/client-metadata.json",
  "application_type": "web",
  "client_name": "Blinkout - Bluesky OAuth Demo",
  "client_uri": "http://127.0.0.1:3000",
  "dpop_bound_access_tokens": true,
  "grant_types": ["authorization_code", "refresh_token"],
  "redirect_uris": ["http://127.0.0.1:3000/auth/callback"],
  "response_types": ["code"],
  "scope": "atproto transition:generic rpc:app.bsky.actor.getProfile?aud=did:web:api.bsky.app#bsky_appview",
  "token_endpoint_auth_method": "none"
}
