/target/
/client/pkg/
/client/target/
/server/target/
/common/target/
/auth/target/
/server/static/public/pkg/
*.wasm
/client/pkg/*.js
node_modules/
.DS_Store
*.crt
*.key
server.log
.env
.env.local
package.json
package-lock.json
