---

- name: Create the host list
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Verify that the sandbox host exists in the group
      assert:
        that:
          - groups['webservers'] | select('regex', '.*-sandbox$') | list | length > 0
        fail_msg: "ERROR: No host ending with '-sandbox' found in webservers group"
        success_msg: "Found {{ groups['webservers'] | select('regex', '.*-sandbox$') | list }} as a sandbox host"
    - name: Create custom host order (sandbox hosts first)
      set_fact:
        ordered_hosts: "{{ (groups['webservers'] | select ('regex', '.*-sandbox$') | list) + (groups['webservers'] | reject('regex', '.*-sandbox$') | list ) }}"

    - name: Debug ordered hosts
      debug:
        var: ordered_hosts

    - name: Add hosts to ordered group
      add_host:
        name: "{{ item }}"
        groups: webservers_ordered
      loop: "{{ ordered_hosts }}"

    - name: Check if nginx.key exists
      stat:
        path: files/nginx.key
      register: nginx_key_file

    - name: Check if nginx.crt exists
      stat:
        path: files/nginx.crt
      register: nginx_crt_file

    - name: Regenerate key and cert if either is missing
      command: openssl req -x509 -nodes -days 365 -newkey rsa:2048 -subj /CN=localhost -keyout files/nginx.key -out files/nginx.crt
      when: not nginx_key_file.stat.exists or not nginx_crt_file.stat.exists

- name: Configure webserver with nginx
  hosts: webservers_ordered
  # be paranoid
  serial:
    - 1        # Run on 1 host first
    - "100%"   # Then run on all remaining hosts
  max_fail_percentage: 0
  # variables
  vars:
    control_host: "{{ groups['webservers_ordered'][0] }}"
    tls_dir: /etc/nginx/ssl
    key_file: nginx.key
    cert_file: nginx.crt
    conf_file: /etc/nginx/sites-available/default
    server_name: localhost
  become: true
  tasks:

    - name: Ensure nginx is installed
      package: name=nginx update_cache=yes

    - name: Check nginx status on sandbox
      command: systemctl is-active nginx
      register: nginx_status
      changed_when: false
      delegate_to: "{{ control_host }}"
      when:
        - inventory_hostname != control_host

    - name: Show a debug"
      debug:
        msg: "This is a debug message {{ server_name }}"

    - name: Manage nginx config template
      template:
        src: nginx.conf.j2
        dest: /etc/nginx/sites-available/default
      notify: Restart nginx

    - name: Copy TLS files
      copy:
        src: "{{ item }}"
        dest: "{{ tls_dir }}/"
        mode: '0600'
      loop:
        - "{{ key_file }}"
        - "{{ cert_file }}"
      notify: Restart nginx

    - name: Enable configuration
      file: >
        dest=/etc/nginx/sites-enabled/default
        src={{ conf_file }}
        state=link
      notify: Restart nginx

    - name: Copy index.html
      template: >
        src=index.html.j2
        dest=/usr/share/nginx/html/index.html

    - name: Restart nginx
      service: name=nginx state=restarted
      changed_when: false

    - name: Check nginx status on sandbox for sandbox
      command: systemctl is-active nginx
      register: nginx_status
      changed_when: false
      delegate_to: "{{ control_host }}"
      when:
        - inventory_hostname == control_host

  handlers:
    - name: Restart nginx
      service: name=nginx state=restarted
...
